<a href="https://colab.research.google.com/github/ejxtreme512/gamestop/blob/main/PythonClassProject_EKarnis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

print('import successful')

import successful

In [4]:
games_orig = pd.read_csv('https://raw.githubusercontent.com/ejxtreme512/gamestop/main/vgsales.csv')
games = games_orig.copy()
print('data loaded successfully')

data loaded successfully

In [5]:
games.head(5)

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [6]:
games.shape
#returns the number of rows and columns

(16598, 11)